@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color: #f1f1f1; /* Color de fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del "pulgarcito" de la barra */
  border-radius: 5px; /* Radio de borde del "pulgarcito" */
}

/* Barra de desplazamiento horizontal */
::-webkit-scrollbar-horizontal {
  height: 10px; /* Altura de la barra de desplazamiento horizontal */
  background-color: #f1f1f1; /* Color de fondo de la barra horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #888; /* Color del "pulgarcito" de la barra horizontal */
  border-radius: 5px; /* Radio de borde del "pulgarcito" horizontal */
}
